<link type="text/css" href="download-view.css" rel="Stylesheet" />

<h1 class="download-view-name">Download file</h1>

<div id="download-view">

<img width="100" src="./download.png"/>

<div class="table">
  <div class="row">
    <div class="field name">Type:</div>
    <div class="download-view-type field value"></div>
  </div>
  <div class="row">
    <div class="field name">Size:</div>
    <div class="download-view-size field value"></div>
  </div>
</div>

<p>
  <a class="download-view-url download-button"><span>Download</span></a>
</p>

</div>
