body {
    margin: 20px;
    color: #4297d7;
    font-family: Sans;
    background-image: url('./gradient-top.png');
    background-repeat: repeat-x;
}

#header {
    height: 100px;
}

#footer {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    font-size: 85%;
    display: normal;
    float: left;
}

#logo {
    font-family: Sans;
    height: 50px;
    font-weight: bold;
}

#logo h1 {
    font-size: 46px;
    letter-spacing: -4px;
    color: #666;
}

#slogan {
    font-size: 17px;
    padding-left: 5px;
}

#content {
    display: none;
    width: 100%;
    float: left;
    color: #666;
}

#content p, #content li  {
    color: #666;
}

#content h1 {
    border-bottom: solid 1px #4297d7;
    font-size: 30px;
    color: #444
}

ul#list {
    list-style-type: none;
}

#list li {
    float: left;
    padding-right: 20px;
    text-align: left;
}

#list li#powered-box {
    float: right;
    text-align: center;
}

#dialog-confirm-close {
    color: #4297d7;
    display: none;
    background-image: url('./warning.png');
    background-repeat: no-repeat;
    padding-left: 170px;
    margin: 10px;
}

#content-loading {
    background-image: url('./loading_big.gif');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    min-height: 250px;
}

#tabs ul#main-menu li.highlight {
    background: #E74242;
}

#donate-box {
    float: right;
    padding-top: 20px;
    text-align: center;
    font-size: 75%;
    color: #999;
    width: 100%;
}

#donate-box img {
    position: relative;
    width: 18px;
    top: 5px;
}
