#shared-files-tab {
    padding: 10px;
    padding-top: 20px;
}

#shared-files-list {
    padding-top: 10px;
    min-height: 200px;
}

#shared-files-list-empty-notice {
    text-align: center;
    border: solid 1px #a6c9e2;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

#shared-files-list-empty-notice .title {
    font-size: 140%;
    color: #FF7700;
}

#shared-files-list-empty-notice .comment {
    color: #4297d7;
}

#shared-files-selector {
    visibility: hidden;
    position: absolute;
    with: 1px;
    height: 1px;
}

.shared-file-item {
    position: relative;
    margin-top: 2px;
    padding: 0px;
    padding-left: 10px;
    height: 37px;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    border: solid 1px #FFF;
}

.shared-file-item:nth-child(odd) {
    background-color: #eaf5f7;
}

.shared-file-item:hover {
    border: solid 1px #4297d7;
}

.shared-file-thumb {
    position: absolute;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 32px;
    height: 32px;;
    border-radius: 3px;
    margin: 2px;
    margin-right: 5px;
}

.shared-file-name {
    position: absolute;
    top: 3px;
    left: 40px;
    width: 55%;

    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shared-file-info {
    position: absolute;
    top: 22px;
    left: 40px;
    width: 55%;

    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.shared-file-url {
    position: absolute;
    display: block;
    right: 10%;
    width: 30%;
    top: 20%;
}

.shared-file-url input {
    border: solid 1px;
    font-size: 15px;
    width: 100%;
}

.shared-file-del-btn {
    position: absolute;
    top: 1px;
    right: 5px;
    width: 5%;
    height: 37px;

    text-align: right;
    cursor: pointer;
    background: url("./delete.png");
    background-repeat: no-repeat;
    background-position: 96% 6px;
}
