#transfers-view-downloads {
    width: 100%;
}

#transfers-view-uploads {
    width: 100%;
}

.transfer-list {
    min-height: 50px;
    font-size: 16px;
    width: 100%;
}

.transfer-item {
    position: relative;
    overflow: hidden;
    margin-top: 2px;
    height: 37px;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    vertical-align: middle;
    border: solid 1px #FFF;
    white-space: nowrap;
}

.transfer-item:nth-child(odd) {
    background-color: #eaf5f7;
}

.transfer-item:hover {
    border: solid 1px #4297d7;
}

.transfer-item .transfer-file-name {
    position: absolute;
    top: 3px;
    left: 40px;
    width: 34%;

    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transfer-item .transfer-progress-label {
    position: absolute;
    top: 22px;
    left: 40px;
    width: 34%;

    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transfer-item .transfer-file-thumb {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 32px;
    height: 32px;;
    border-radius: 3px;
    margin: 2px;
    margin-right: 5px;
}

.transfer-item .transfer-progress-bar {
    position: absolute;
    top: 7px;
    left: 40%;
    width: 15%;

    border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid 1px #4297d7;
    text-align: center;
}

.transfer-item .transfer-progress-bar-inner {
    position: absolute;
    border-radius: 3px;
    -moz-border-radius: 3px;
    width: 0px;
}

.transfer-item .transfer-progress-bar-label {
    position: relative;
    font-weight: bold;
}

.transfer-item.active .transfer-progress-bar-inner {
    background-color: #4297d7;
}

.transfer-item.completed .transfer-progress-bar-inner {
    background-color: #6EAC2C;
}

.transfer-item.aborted .transfer-progress-bar-inner {
    background-color: #E74242;
}

.transfer-item .transfer-progress-bar {
    position: absolute;
    top: 7px;
    left: 40%;
    width: 15%;

    border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid 1px #4297d7;
    text-align: center;
}

.transfer-item .transfer-time-label {
    position: absolute;
    top: 8px;
    left: 58%;
    width: 15%;

    text-align: right;
    padding-left: 10px;
}

.transfer-item .transfer-bw-label {
    position: absolute;
    top: 8px;
    left: 78%;
    width: 12%;

    text-align: right;
    text-overflow: ellipse;
}

.transfer-item.completed .transfer-time-label,
.transfer-item.aborted .transfer-time-label,
.transfer-item.completed .transfer-bw-label,
.transfer-item.aborted .transfer-bw-label {
    display: none;
}

.transfer-item .transfer-cancel-btn {
    position: absolute;
    top: 1px;
    right: 5px;
    width: 5%;
    height: 37px;

    text-align: right;
    cursor: pointer;
    background: url("./delete.png");
    background-repeat: no-repeat;
    background-position: 96% 6px;
}

.transfer-list .list-empty-note {
    text-align: center;
    font-size: 22px;
    color: #FF7700;
}

#transfer-list-confirm-cancel {
    display: none;
    color: #4297d7;
}
